<div
  class="w-screen max-w-xs p-6 bg-white shadow-xl dark:bg-gray-900 rounded-2xl"
>
  <div class="flex items-center justify-between">
    <h2 class="text-lg font-medium text-gray-900 dark:text-gray-100">
      {{ title }}
    </h2>

    <button
      (click)="handleToggle()"
      class="inline-flex items-center justify-center w-8 h-8 bg-gray-100 rounded-lg dark:bg-gray-800 focus:outline-none focus:ring"
    >
      <svg
        class="w-4 h-4 text-gray-500 transition-transform transform dark:text-gray-400"
        [ngClass]="{ '-rotate-45': !showControls }"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>

  <div class="mt-5 space-y-5" *ngIf="showControls">
    <app-controls-directions
      [directions]="directions"
      [title]="title"
      [selectedDirection]="selectedDirection"
      (directionChange)="handleDirection($event)"
    >
    </app-controls-directions>

    <div>
      <label
        for="type"
        class="text-sm font-medium text-gray-500 dark:text-gray-400"
      >
        Image Type
      </label>

      <select
        id="type"
        class="block w-full p-3 mt-1 text-sm text-gray-500 bg-gray-100 border-gray-200 rounded-lg dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400"
        (input)="handleType(select.value)"
        #select
      >
        <option *ngFor="let type of types" [value]="type">
          {{ type | uppercase }}
        </option>
      </select>
    </div>

    <button
      class="inline-flex items-center justify-center w-full px-6 py-4 text-sm font-medium text-white bg-green-500 rounded-full shadow-sm focus:outline-none hover:bg-green-400 focus:ring"
      (click)="handleSave()"
    >
      Download Background
      <svg
        class="w-4 h-4 ml-3"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>
