<div
  class="lg:p-4 lg:flex lg:items-center lg:h-screen bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
>
  <header
    class="py-16 bg-white lg:h-full lg:w-full lg:flex lg:items-center dark:bg-gray-900 rounded-3xl"
    role="banner"
  >
    <div
      class="max-w-screen-xl px-4 mx-auto text-center lg:grid lg:grid-cols-2 lg:text-left lg:gap-x-16 lg:items-center"
    >
      <div>
        <h1
          class="text-5xl font-extrabold leading-snug text-transparent lg:leading-tight lg:text-6xl bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"
        >
          Hypercolor Backgrounds
        </h1>

        <div class="max-w-lg mt-8">
          <p class="text-lg leading-relaxed text-gray-900 dark:text-gray-100">
            Get the gradients you love from
            <a
              href="https://hypercolor.dev/"
              class="text-cyan-400 hover:text-cyan-300"
            >
              Hypercolor
            </a>
            as an JPEG, PNG or SVG. Hypercolor is a curated collection of
            beautiful premade gradients using default colors from
            <a
              href="https://tailwindcss.com/"
              class="text-cyan-400 hover:text-cyan-300"
            >
              Tailwind
            </a>
            palette.
          </p>
        </div>
      </div>

      <div class="mt-12 lg:mt-0">
        <app-banner-anchors [gradients]="gradients"></app-banner-anchors>

        <p
          class="mt-4 mr-4 text-xs font-medium text-right text-gray-500 uppercase dark:text-gray-400"
        >
          Jump to gradient
        </p>
      </div>
    </div>
  </header>
</div>
